10/29, 15:00-20:00 Gage, Miguel, Miranda, Elad
Driver Order and Time Length: 4.5 hours
Gage, 30 minutes
Miranda, 30 minutes
Elad, 30 minutes
Miguel, 30 minutes
Gage, 30 minutes
Miranda, 30 minutes
Elad, 30 minutes
Miguel, 30 minutes
Gage, 30 minutes

10/30, 12:00-15:00 Gage, Miguel, Miranda, Elad
Driver Order and Time Length: 3.0 hours
Gage, 30 minutes
Miranda, 30 minutes
Elad, 30 minutes
Miguel, 30 minutes
Gage, 30 minutes
Miranda, 30 minutes

11/01, 15:00-20:00 Gage, Miguel, Miranda, Elad
Driver Order and Time Length: 4.5 hours
Gage, 30 minutes
Miranda, 30 minutes
Elad, 30 minutes
Miguel, 30 minutes
Gage, 30 minutes
Miranda, 30 minutes
Elad, 30 minutes
Miguel, 30 minutes
Gage, 30 minutes


11/02, 17:00-20:00 Gage, Miguel, Miranda, Elad
Driver Order and Time Length: 3.0 hours
Gage, 30 minutes
Miranda, 30 minutes
Elad, 30 minutes
Miguel, 30 minutes
Gage, 30 minutes
Miranda, 30 minutes

11/05, 15:00-20:00 Gage, Miguel, Miranda, Elad
Driver Order and Time Length: 4.5 hours
Gage, 30 minutes
Miranda, 30 minutes
Elad, 30 minutes
Miguel, 30 minutes
Gage, 30 minutes
Miranda, 30 minutes
Elad, 30 minutes
Miguel, 30 minutes
Gage, 30 minutes

11/06, 12:00-15:00 Gage, Miguel, Miranda, Elad
Driver Order and Time Length: 3.0 hours
Gage, 30 minutes
Miranda, 30 minutes
Elad, 30 minutes
Miguel, 30 minutes
Gage, 30 minutes
Miranda, 30 minutes

11/07, 15:00-20:00 Gage, Miguel, Miranda, Elad
Driver Order and Time Length: 4.5 hours
Gage, 30 minutes
Miranda, 30 minutes
Elad, 30 minutes
Miguel, 30 minutes
Gage, 30 minutes
Miranda, 30 minutes
Elad, 30 minutes
Miguel, 30 minutes
Gage, 30 minutes

11/08, 12:00-15:00 Gage, Miguel, Miranda, Elad
Driver Order and Time Length: 3.0 hours
Gage, 30 minutes
Miranda, 30 minutes
Elad, 30 minutes
Miguel, 30 minutes
Gage, 30 minutes
Miranda, 30 minutes

11/09, 17:00-20:00 Gage, Miguel, Miranda, Elad
Driver Order and Time Length: 3.0 hours
Gage, 30 minutes
Miranda, 30 minutes
Elad, 30 minutes
Miguel, 30 minutes
Gage, 30 minutes
Miranda, 30 minutes

11/12, 15:00-20:00 Gage, Miguel, Miranda, Elad
Driver Order and Time Length: 4.5 hours
Gage, 30 minutes
Miranda, 30 minutes
Elad, 30 minutes
Miguel, 30 minutes
Gage, 30 minutes
Miranda, 30 minutes
Elad, 30 minutes
Miguel, 30 minutes
Gage, 30 minutes

11/13, 12:00-15:00 Gage, Miguel, Miranda, Elad
Driver Order and Time Length: 3.0 hours
Gage, 30 minutes
Miranda, 30 minutes
Elad, 30 minutes
Miguel, 30 minutes
Gage, 30 minutes
Miranda, 30 minutes

11/14, 15:00-20:00 Gage, Miguel, Miranda, Elad
Driver Order and Time Length: 4.5 hours
Gage, 30 minutes
Miranda, 30 minutes
Elad, 30 minutes
Miguel, 30 minutes
Gage, 30 minutes
Miranda, 30 minutes
Elad, 30 minutes
Miguel, 30 minutes
Gage, 30 minutes

11/15, 12:00-15:00 Gage, Miguel, Miranda, Elad
Driver Order and Time Length: 3.0 hours
Gage, 30 minutes
Miranda, 30 minutes
Elad, 30 minutes
Miguel, 30 minutes
Gage, 30 minutes
Miranda, 30 minutes

11/16, 17:00-20:00 Gage, Miguel, Miranda, Elad
Driver Order and Time Length: 3.0 hours
Gage, 30 minutes
Miranda, 30 minutes
Elad, 30 minutes
Miguel, 30 minutes
Gage, 30 minutes
Miranda, 30 minutes

11/17, 12:00-17:00 Gage, Miguel, Miranda, Elad
Driver Order and Time Length: 5.0 hours
Gage, 30 minutes
Miranda, 30 minutes
Elad, 30 minutes
Miguel, 30 minutes
Gage, 30 minutes
Miranda, 30 minutes
Gage, 30 minutes
Miranda, 30 minutes
Elad, 30 minutes
Miguel, 30 minutes

11/18, 12:00-15:00 Gage, Miguel, Miranda, Elad
Driver Order and Time Length: 5.0 hours
Gage, 30 minutes
Miranda, 30 minutes
Elad, 30 minutes
Miguel, 30 minutes
Gage, 30 minutes
Miranda, 30 minutes
Gage, 30 minutes
Miranda, 30 minutes
Elad, 30 minutes
Miguel, 30 minutes
