################
TEAM INFO
################
Name1: Gage Courtaway
EID1: gtc375
CS login: gtc375
Email: gage.courtaway@utexas.edu
Unique Number: 51525

Name2: Miguel Mendoza
EID2: mam23575
CS login: migmen
Email: miguelmcell@utexas.edu
Unique Number: 51510

Name3: Miranda Fulenchek
EID3: mlf2769
CS login: miranda
Email: m.fulenchek@gmail.com
Unique Number: 51535

Name4: Elad Hershkovitz
EID4: eh27439
CS login: elad
Email: eladhershkovitz@utexas.edu
Unique Number: 51535

Slip days used: 2

################
